/*== Page Styles ==*/

#page-banner{
    height: 100vh;

    background: rgb(255,130,0);
    background: -moz-linear-gradient(141deg, rgba(255,130,0,1) 0%, rgba(255,92,0,1) 72%, rgba(255,74,0,1) 100%);
    background: -webkit-linear-gradient(141deg, rgba(255,130,0,1) 0%, rgba(255,92,0,1) 72%, rgba(255,74,0,1) 100%);
    background: linear-gradient(141deg, rgba(255,130,0,1) 0%, rgba(255,92,0,1) 72%, rgba(255,74,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff8200",endColorstr="#ff4a00",GradientType=1);
}

/*== Banner Section ==*/

main{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    max-width: 65vw;
}

main section {
    margin-top: 6rem;
}

main h1,
main p,
main button {
    color: var(--thr-color);
    margin: 2rem 0;
}

main p {
    font-weight: 300;
}


main h1 {
    font-size: 4rem;
    line-height: 4.2rem;
}

/*== About Styles ==*/

#page-about {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    min-height: calc(100vh + 6rem);
    text-align: center;
}

#page-about p {
    color: var(--sec-color);
}

.about-flyers {
    display : flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 6rem;
}

.about-flyers div {
    flex: 1 1 35rem;
    min-height: 25rem;
    margin: 2rem;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--bg-gray-s);
    border-radius: 5px;
}

.about-flyers h3 {
    line-height: 5rem;
}

/*== Services Section==*/
#page-service {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    min-height: calc(100vh);
    text-align: center;
    
    background: var(--bg-gray);
    
    
}

#page-service .section-message {
    color: var(--thr-color);
    margin-bottom: 6rem;
}

#service-flyer {
    
    padding: 6rem;
        
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#service-flyer div{
    background: #fff;
    
    flex: 1 1 32rem;
    max-width: 38rem;
    height: 25rem;
    margin: 1.2rem;
    border-radius: 6px;
    
    display: block;
    text-align: left;
    
    padding: 2rem;
}

#service-flyer div p {
    color: var(--sec-color);
}

#service-flyer div p[class~="icon"] {
    margin: 0;
    margin-bottom: 1rem;
}

#service-flyer div h2 {
    margin: 2rem 0;
}

/*== Contact Section ==*/

#page-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#page-contact section{
    width: auto;
    height: 55rem;
    border-radius: 4px;

    flex-basis: 40%;
    background: var(--bg-gray-s);
}

#contact-flyer {
    padding: 5rem 3.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


#location-advise h2{
    margin-bottom: 2.7rem;
}

#price-advise{
    border: 1px solid var(--first-color);
    border-radius: 5px;
    margin: 0 5rem;
    padding: 3rem;
}

#price-advise h3{
    line-height: 4rem;
}

#contact-form {
    padding: 5rem 3.1rem;
}

/*== Universal ==*/

.section-message h2 {
    margin-bottom: 2rem;
}

.section-message p {
    line-height: 2rem;
    padding: 0 20vw;
}

/*== Media ==*/
@media screen and (max-device-width: 980px){
    
    main {
        max-width: 100vw;
    }
    main section{
        text-align: left;
    }
    main h1 {
        font-size: 3.5rem;
        line-height: 6rem;
    }
    
    
    main button {
        display: none;
    }

    #service-flyer {
        padding: 10px;
    }
    
    #page-contact {
        display: block;  
        padding: 5rem 10px;
    }
    #page-contact section {
        margin: 5rem 0;
    }
    #page-contact .inline-form-items {
        display: block;
    }
    
    .section-message h2 {
    margin-bottom: 5rem;
    }

    .section-message p {
        line-height: 2rem;
        padding: 0 10px;
    }
}

@media screen and (max-device-width: 768px){

    .about-flyers {
        padding: 5rem 0;
    }
    .about-flyers div {
    flex: 1 1 50rem;
    min-height: auto;
    margin: 2rem;
    padding: 3rem;
    }
    
    #price-advise {
        margin: 5rem 0;
    }
}