/**== Universal Styles==**/


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --bg-white: #fff;
    --bg-gray: #242424;
    --bg-gray-s: #f5f5f5;

    --first-color: #242424;
    --sec-color: #6a6a6a;
    --thr-color: #fff;
    --nav-hover-color: orange;

    font-size: 10px;
}

/*== Tag styles ==*/

body {
    background: #fff;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body,
input,
button,
textarea{
    font: 400 1.7rem/1 'Montserrat Alternates', sans-serif;
    color: var(--first-color);
    line-height: 2rem;
}

header{
    width: 100vw;
    height: 6rem;

    background: var(--bg-white);

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    z-index: 100;
}

header .menu {
    display: none;
}

header img {
    height: 5rem;
}

nav ul a, li {
    display: inline;
    cursor: pointer;

    margin-left: 1.3rem;
    font-size: 1.6rem;
}

nav a:hover,
nav a[class~="active"]{
    color: var(--nav-hover-color);
}


a{
    color: var(--first-color);
    text-decoration: none;
}

button {
    border-radius: 2px;
    font-size: 1.5rem;
    background: none;
    padding: 0.7rem 1.4rem;
    font-weight: 400;
    border: 1px solid var(--thr-color);

    font-family: 'Nunito', sans-serif;
}

fieldset {
    border: 0;
}

fieldset label:not(.checkbox-label) {
    display: block;
    font-size: 1.6rem;
    font-family: 'Nunito', sans-serif;
}

fieldset input,
fieldset textarea{
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;

    font-weight: 400;
    font-size: 1.4rem;

    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;

    background: var(--bg-white);
    color: rgba(0,0,0,0.6);

}

fieldset button {
    border-color: var(--first-color);
    cursor: pointer;
}


/*== Class styles ==*/
.nunito {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.container {
    padding: 0 2rem;
}

.page-section {
    background-color : var(--bg-white);
    width: 100vw;
    padding: 6rem 0;
}

/*== Icons ==*/
.icon {
    background-size: 3.8rem 3.8rem;
    background-repeat: no-repeat;
    background-position: center;

    width: 5.2rem;
    height: 5.2rem;
    margin: 0 auto;

    border: 2px solid var(--first-color);
    border-radius: 100%;
}

.wallet {
    background-image: url('../img/bxs-wallet.svg');
}

.anchor {
    background-image: url('../img/bxs-anchor.svg');
}

.smile {
    background-image: url('../img/bxs-smile.svg');
}

.shield {
    background-image: url('../img/bxs-shield.svg');
}

.box {
    background-image: url('../img/bxs-box.svg');
}

.briefcase {
    background-image: url('../img/bxs-briefcase.svg');
}

.bulb {
    background-image: url('../img/bxs-bulb.svg');
}

.stopwatch {
    background-image: url('../img/bxs-stopwatch.svg');
}

.wrench {
    background-image: url('../img/bxs-wrench.svg');
}

.dollar {
    background-image: url('../img/bxs-dollar.svg');
}

.menu {
    background-image: url('../img/bxs-menu.svg');
}


.inline-form-items {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: stretch;
}

.inline-form-items div {
    flex-basis: 45%;
}

.contact-checkbox {
    font-size: 1.3rem;
    display: flex;
}

.contact-checkbox input {
    margin-right: 1rem;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
}

.form-message {
    display: none;
    opacity: 0;
}

.form-message:first-child{
    line-height: 4rem;
}


/* === Animations Classes ===*/
.inversed {
    animation: inverseColor 1s forwards;
    animation-play-state: running;
    
    -webkit-animation: inverseColor 1s forwards;
    -webkit-animation-play-state: running;
}

.appear {
    animation : appear 1s forwards;
}


/*== Media ==*/

@media screen and (max-device-width: 768px){
    header {
        height: 12rem;
        top: -6rem;
        display: grid;
        grid-template-rows: 2fr;
        grid-template-columns: 2fr;
        
        transition: top .3s;
        transition-timing-function: ease;
    }
    
    header img {
        margin-bottom: .5rem;
        grid-row: 2;
    }
    
    header .menu {
        display: block;
        
        width: 3.9rem;
        height: 3.9rem;
        background-size: 3.8rem 3.8rem;
        background-repeat: no-repeat;
        background-position: center;
        grid-row: 2;
        grid-column: 2;
        margin-bottom: .5rem;
    }
    
    header[class~="open"] {
        top: 0;
    }
    
    header[class~="open"] .menu {
        background-image : url('../img/bxs-x.svg');
        border: 1px solid var(--first-color);
        border-radius: 10%;
    }
    
    header nav {
        text-align: center;
        grid-column: 1 / 3;
    }
}